@page "/<%=route-302ccfd4-0498-4be9-96e0-73d0172a2c23%>"

<div class="row-layout master-view-container">
    <div class="row-layout group">
        <img src="assets/u1.png" class="image" />
        <img src="assets/u0.png" class="image_1" />
        <IgbButton Variant="ButtonVariant.Fab" class="button" master-view-scope>
            <span class="material-icons">
                search
            </span>
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
    <span class="tabs">Tabs not yet available in Blazor</span>
</div>

@code {
}
